@font-face {
  src: url("assets/fontes/vallenia love.otf") format("opentype");
  font-family: "Princesse";
}

@font-face {
  src: url("assets/fontes/ComicNeueSansID.ttf") format("truetype");
  font-family: "ComicSans";
}

body {
  background-color: #a1fcdf;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.game {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 800px;
  min-height: 800px;
  background-color: #ffd639;
}

img {
  width: 600px;
  align-self: center;
}

h1 {
  font-family: "Princesse";
  align-self: center;
  color: #ff4365;
  font-size: 45px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "ComicSans";
  align-self: center;
  color: #ff4365;
  font-size: 30px;
}

p {
  font-family: "ComicSans";
  align-self: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: #ff4365;
  font-size: 20px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

button {
  font-family: "ComicSans";
  width: 200px;
  background-color: #7b4b94;
  border-color: #ff4365;
  color: #ff4365;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #efc3e6;
}

.cacher {
  display: none;
}

.source {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.reset {
  display: flex;
  justify-content: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  font-family: "ComicSans";
  color: #ff4365;
  margin-bottom: 20px;
}

.mort_commencement_1 {
  background-color: #08d996;
}

.mort_commencement_2 {
  background-color: #08d996;
}

.mort_chemins_1 {
  background-color: #08d996;
}

.mort_chemins_2 {
  background-color: #08d996;
}

.mort_chine {
  background-color: #08d996;
}

.mort_planete {
  background-color: #08d996;
}

.mort_coffre {
  background-color: #08d996;
}

.mort_attendu {
  background-color: #08d996;
}

.mort_pouvoir_mauvais {
  background-color: #08d996;
}

.mort_coffre_mauvais_1 {
  background-color: #08d996;
}

.mort_coffre_mauvais_2 {
  background-color: #08d996;
}

.mort_commencement_1 h3 {
  color: #db2d4d;
}

.mort_commencement_2 h3 {
  color: #db2d4d;
}

.mort_chemins_1 h3 {
  color: #db2d4d;
}

.mort_chemins_2 h3 {
  color: #db2d4d;
}

.mort_chine h3 {
  color: #db2d4d;
}

.mort_planete h3 {
  color: #db2d4d;
}

.mort_coffre h3 {
  color: #db2d4d;
}

.mort_attendu h3 {
  color: #db2d4d;
}

.mort_pouvoir_mauvais h3 {
  color: #db2d4d;
}

.mort_coffre_mauvais_1 h3 {
  color: #db2d4d;
}

.mort_coffre_mauvais_2 h3 {
  color: #db2d4d;
}
